@import '../../../styles/mixins/flexbox';
@import '../../../styles/constants/colors';

%container {
  max-width: 1080px;
  margin: 0 auto;
}

.wrapper {
  background-color: #f9f9f9;
}

.container {
  @extend %container;
}

.header {
  padding-top: 176px;
  @include flexbox(space-between, center);

  h2 {
    font-size: 30px;
  }

  label {
    cursor: pointer;
    user-select: none;
    @include flexbox(center);

    input {
      width: 27px;
      height: 27px;
      margin-right: 24px;
      cursor: pointer;
    }

    span {
      font-size: 19px;
    }
  }
}

.list {
  padding-bottom: 200px;
  margin-top: 52px;
}
