@import '../../../styles/mixins/flexbox';
@import '../../../styles/constants/colors';

%container {
  max-width: 1080px;
  margin: 0 auto;
}

.wrapper {
  background-color: #f9f9f9;
}

.container {
  @extend %container;
}

.header {
  padding-top: 10px;
  @include flexbox(space-between, center);

  h2 {
    font-size: 30px;
  }

  margin-bottom: 52px;
}

.list {
  padding-bottom: 10px;
  margin-top: 10px;
}
